body{
    background-color: #F6F4EB;
}
#header-bar{
    display: flex;
    justify-content: space-between;
}

#title{
    margin-top: 0px;
    color:#146C94;
}

.navigation-bar{
    display: flex;
    gap: 20px;
}

#introduction{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 15px;
}
.input-section{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;
}

label{
    margin-bottom: 4px;
    margin-top: 15px;
    font: size 20px;
    font-weight: bold;
    color: #4682A9;
}

input, select{
    outline:none;
    border: solid #19A7CE;
    padding: 10px;
    border-radius: 8px;
}

.button-section{
    margin-top: 10px;
}

button{
    background-color: #91C8E4;
    color: black;
    border:none;
    padding: 10px;
    border-radius: 8px;
    cursor:pointer;
    margin: 8px;
}

button:hover{
    background-color: #749BC2;
}

button:active{
    transform:translateY(4px);
    background-color:#4682A9 ;
}
